<%
    const ERRORS = {
        0:{
            name: 'Unknown Error',
            message: 'An unknown error occurred with Dashactyl. Please contact an administrator to resolve this.'
        },
        403:{
            name: 'Unauthorized',
            message: 'You are not permitted to view this page.'
        },
        404:{
            name: 'Not Found',
            message: 'The requested page could not be found.'
        },
        500:{
            name: 'Internal Error',
            message: 'An unknown error occurred with Dashactyl. Please contact an administrator to resolve this.'
        }
    }
    const res = ERRORS[code] || ERRORS[0];
%>
<!DOCTYPE html>
<html lang="en">
    <%#- include("./components/head.ejs", {title: res.name, description: "Internal Error" }) %>
    <body>
        <h1><%= code %> | <%= res.name %></h1>
        <p><%= res.message %></p>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
        <% if (Number(code) >= 500 && invite) { %>
            <button onclick="window.location.href = '<%= invite %>'">Contact Administrators</button><br>
        <% } %>
        <button onclick="window.location.href = '/dashboard'">Go Back</button>
    </body>
</html>
